<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    
    <!-- Added for Chat feature -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mad_project">
        <activity
            android:name=".ui.services.AllServicesActivity"
            android:exported="false"
            android:parentActivityName=".main_page" />
        <activity
            android:name=".ui.notifications.NotificationsActivity"
            android:exported="false"
            android:parentActivityName=".main_page" />
        <activity
            android:name=".ui.orders.OrderDetailActivity"
            android:exported="false"
            android:parentActivityName=".main_page" />
        <activity
            android:name=".ui.services.BiddingDetailsActivity"
            android:exported="false"
            android:parentActivityName=".main_page" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:parentActivityName=".main_page" />
        <activity
            android:name=".ui.favorites.FavoriteWorkersActivity"
            android:exported="false"
            android:parentActivityName=".main_page" />
        <activity
            android:name=".ui.chat.ChatActivity"
            android:exported="false"
            android:parentActivityName=".main_page" />

        <activity
            android:name=".ui.services.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.services.SelectLocationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.services.PlaceOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.worker.WorkerFormActivity"
            android:exported="false" />
        <activity
            android:name=".ui.worker.BecomeWorkerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.worker.RegisterCompanyIntroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.worker.CompanyRegistrationFormActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.VerificationSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.OtpVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.EnterPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.SecurityVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/Theme.App.Starting"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.OldMainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onboarding.IntroActivity"
            android:exported="false" />

        <!-- API Key tag - SEPARATE -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- Fonts tag - SEPARATE -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <!-- Customer Flow Addition -->
        <activity
            android:name=".ui.orders.PaymentActivity"
            android:exported="false" />
            
        <activity
            android:name=".ui.orders.ReviewWorkerActivity"
            android:exported="false" />
            
        <activity
            android:name=".ui.worker.WorkerJobDetailActivity"
            android:exported="false" />
            
    </application>
</manifest>
